body {
  background-color: #333; /* Dark background color */
  color: #40514E;
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}

h1 {
  color: #66BFBF;
  font-size: 5.625rem;
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
  padding-bottom: 10px;
}

h2 {
  color: #66BFBF;
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
}

h3 {
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
}

p{
  line-height: 2;
}

hr{
  border: dotted #EAF6F6 6px;
  border-bottom: none;
  width: 5%;
  margin: 100px auto;
}

a{
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}

a:hover{
  color: #EAF6F6;
}

.top-container {
  background-color: #E4F9F5;
  position: relative;
  padding-top: 100px
}

.middle-container {
  margin: 100px 0;
}
.bottom-container {
  background-color: #66BFBF;
  padding: 50px 0 20px;

}
.skill-row{
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 2;
}

.pro {
  text-decoration: underline;
}

.into{
  width: 30%;
  margin: auto;
}

.contact-me{
  width: 40%;
  margin: 40px auto 60px auto;
}

.copyright{
  color: #EAF6F6;
  font-size: 0.75rem;
  padding: 20px 0;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 40px
}

.bottom-cloud {
  position: absolute;
  left: 250px;
  bottom: 300px;
}

.first-skill{
  border-radius: 100%;
}

.second-skill{
  border-radius: 50%;
}

.first-skill{
  width: 25%;
  float:left;
  margin-right:30px;
}

.second-skill{
  width: 40%;
  float: right;
 margin-left:30px;
}

.project-card {
  width: 25%;  /* Adjust the width as needed */
  margin: 20px 2.5%;  /* Added some margin between the cards */
  padding: 20px;
  height: 300px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  display: inline-block;  /* Display the cards inline */
  overflow: hidden; 
  box-sizing: border-box;  /* Include padding and border in the total width */
}

.project-card h3 {
  margin-bottom: 10px;
  font-size: 18px;
}

.project-card p {
  font-size: 14px;
  line-height: 1.5;
  white-space: normal; /* Show the whole description by default */
  overflow: hidden;
  height: 70px; /* Set a fixed height for the description */
  text-overflow: ellipsis; /* Show three dots (...) for overflow text */
}

.project-card .read-more-btn {
  position: absolute;
  bottom: 20px; /* Adjust the distance from the bottom as needed */
  left: 50%;
  transform: translateX(-50%);
  background-color: #11999E;
  color: #FFFFFF;
  padding: 10px 16px;
  border-radius: 5px;
  text-decoration: none;
  display: none; /* Hide the button by default */
}

.project-card:hover p {
  height: auto; /* Allow the description to expand to show full content on hover */
  overflow: visible;
  text-overflow: initial;
}

.project-card:hover .read-more-btn {
  display: inline-block; /* Show the button on hover */
}


.btn {
  border-radius: 8px;
  color: #FFFFFF;
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  font-weight: 500;
  padding: 14px 24px; /* Adjusted padding for a more balanced look */
  background-color: #11999E;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  text-align: center;
  transition: background-color 0.3s ease; /* Added a smooth transition effect */
}
.btn:hover {
   background: #0e7c7f;
   border: solid #00FFFF 1px;
   -webkit-border-radius: 10px;
   -moz-border-radius: 10px;
   border-radius: 10px;
   text-decoration: none;
}
